@use '../abstracts/variables' as *;

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: $light;
   color: $gray;
}

ul,
ol {
   list-style-type: none;
}

a {
   text-decoration: none;
}

img {
   display: block;
   height: auto;
}

button,
img {
   user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color: $dark;
   line-height: 1.3;
}
