@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.row {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -1.5rem;
}

.row + .row {
   margin-top: 2rem;
}

.col {
   flex: none; /* flex-grow: 0; flex-shrink: 0; flex-basis: 0; */
   width: 100%;
   padding: 0 1.5rem;
}

@include media-min(map-get($breakpoints, "sm")) {
   .col-sm-6 {
      width: calc((6 / 12) * 100%);
   }
}

@include media-min(map-get($breakpoints, "md")) {
   .col-md-3 {
      width: calc((3 / 12) * 100%);
   }
   .col-md-4 {
      width: calc((4 / 12) * 100%);
   }
   .col-md-5 {
      width: calc((5 / 12) * 100%);
   }
   .col-md-6 {
      width: calc((6 / 12) * 100%);
   }
   .col-md-7 {
      width: calc((7 / 12) * 100%);
   }
}

@include media-min(map-get($breakpoints, "lg")) {
   .col-lg-3 {
      width: calc((3 / 12) * 100%);
   }
   .col-lg-4 {
      width: calc((4 / 12) * 100%);
   }
   .col-lg-5 {
      width: calc((5 / 12) * 100%);
   }
   .col-lg-6 {
      width: calc((6 / 12) * 100%);
   }
   .col-lg-7 {
      width: calc((7 / 12) * 100%);
   }
}

@include media-min(map-get($breakpoints, "xl")) {
   .col-xl-3 {
      width: calc((3 / 12) * 100%);
   }
   .col-xl-4 {
      width: calc((4 / 12) * 100%);
   }
   .col-xl-5 {
      width: calc((5 / 12) * 100%);
   }
   .col-xl-6 {
      width: calc((6 / 12) * 100%);
   }
   .col-xl-7 {
      width: calc((7 / 12) * 100%);
   }
}
